@model Brand

    <form asp-action="Create" method="post">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />

        <hr />
        <button class="btn btn-primary" type="submit">Ekle</button>
    </form>
